.hamburger-menu {
  display: none;
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.menu-icon .bar {
  width: 2em;
  height: 0.3em;
  background-color: var(--text-color);
  margin: 0.3em 0;
  transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
  border-radius: 0.5rem;
}

.menu-icon.open .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-0.65em, 0.6em);
  background-color: var(--highlight-color);
}

.menu-icon.open .bar:nth-child(2) {
  opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
  transform: rotate(45deg) translate(-0.65em, -0.6em);
  background-color: var(--highlight-color);
}

.menu-items {
  position: absolute;
  top: 4rem;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 22rem;
  align-items: center;
}

.menu-items ul {
  list-style: none;
  padding: 0;
}

.menu-items li {
  margin: 0.5rem 0;
  cursor: pointer;
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .hamburger-menu {
    display: block;
    position: relative;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}
