nav {
  flex-direction: c;
  justify-content: space-between;
  align-self: flex-start;
  display: flex;
}
.img_wrapper {
  display: flex;
  justify-content: center;
}

@media (max-width: 992px) {
  .desktopOnlyMenu {
    display: none;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-right: none;
    background-color: white;
    box-shadow: 0 0 48px rgb(0 0 0 / 15%);
  }
}

@media (max-width: 576px) {
}
