.logo {
  font-family: "Creepster", cursive;
  font-size: 2em;
}
.link_logo {
  text-decoration: none;
}
.menu_toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 3em;
  height: 0.3em;
  background-color: var(--text-color);
  margin: 0.3em 0;
}

@media (max-width: 576px) {
  .menu_toggle {
    display: flex;
    margin-right: 4vw;
  }
  .logo {
    margin-left: 4vw;
    font-size: 2.4em;
  }
  .nav_list {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
}
