.location_page {
  background-color: aliceblue;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

.location_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  margin: 0.5rem;
}

.text_gray {
  color: var(--text-color);
  font-weight: 600;
}

.episode_back_btn {
  align-self: flex-start;
  padding: 1vh 1.5vw;
  border-radius: 0.5em;
  background-color: var(--primary-color);
  font-family: var(--font);
}
.episode_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.text_gray {
  color: var(--text-color);
  font-weight: 600;
}

.characters {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (max-width: 992px) {
  .location_item {
    text-align: center;
    justify-content: center;
  }
  .episode_back_btn {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .episode_info {
    flex-direction: column;
  }
  .episode_item {
    margin: 0;
  }
  .characters {
    grid-template-columns: repeat(1, 2fr);
  }
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
}
