@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Creepster&display=swap");

:root {
  --primary-color: #02b1c8;
  --secondary-color: #7fff00;
  --text-color: #0a0b56;
  --accent-color: #02b1c8;
  --highlight-color: #ffa500;
  --font: "Jost", sans-serif;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font);
  color: var(--text-color);
  background-image: url("./backgroungjpg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: var(--accent-color);
}
a:hover {
  color: var(--highlight-color);
}

.content {
  margin: 0vh 2vw;
}

main {
  grid-area: main;
}
nav {
  grid-area: sidebar;
}
h2 {
  margin-top: 1rem;
  font-size: 2em;
  font-weight: 600;
}
footer {
  grid-area: footer;
  font-size: 1em;
}
footer p {
  margin: 1vh;
}

.wrapper {
  width: 80%;
  margin: 1rem auto;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  display: grid;
  border-radius: 0.5em;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar main"
    "footer footer";
  box-shadow: 3px 3px 18px rgba(255, 149, 0, 0.698);
  margin: auto;
}
nav ul {
  list-style: none;
}
nav ul li {
  font-weight: 600;
  font-size: 1.5em;
  margin: 1vh 2vw;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a:hover {
  border-bottom: 0.1em solid var(--secondary-color);
}

.parent-grid {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 992px) {
  .parent-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper {
    margin: 0rem auto;
    padding-bottom: 0rem;
    width: 90%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar"
      "main"
      "footer";
  }
  body {
    background-size: cover;
  }
  h2 {
    text-align: center;
  }
  .nav-list {
    display: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .wrapper {
    width: 100%;
    display: grid;
  }
  .menu-toggle {
    display: flex;
    margin-right: 4vw;
  }
  .logo {
    margin-left: 4vw;
    font-size: 2.4em;
  }

  .parent-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  h2 {
    text-align: center;
  }
}
